/*************************************** Media Queries ************************************/
/*************************************** FONTS ********************************************/
/*************************************** COLORS ********************************************/
/*************************************** Center our content ************************************/
.row {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  .row {
    max-width: 100rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 80rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .row {
    max-width: 55rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 24em) {
  .row {
    max-width: 50rem;
    margin: 0 auto;
  }
}

/*************************************** Basic Styling ********************************************/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #51535d;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 37.5em) {
  img {
    max-width: 60%;
    height: auto;
  }
}

h1, h2, h3, h4, h5 {
  color: #080a10;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (max-width: 24em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #51535d;
  line-height: 1.6;
}

/*************************************** Header Starts Here ********************************************/
.header {
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .header__content {
    margin-top: 10rem;
  }
}

.header__content--flex {
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .header__content--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__content--photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media only screen and (max-width: 37.5em) {
  .header__content--photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10rem;
  }
}

.header__content--photo-img {
  display: block;
}

.header__content--text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2vh 5vw;
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
}

@media only screen and (max-width: 56.25em) {
  .header__content--text {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header__content--text-para {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.header__content--text-price {
  font-size: 1.6rem;
  color: #080a10;
  margin-bottom: 2rem;
}

.nav {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

@media only screen and (max-width: 37.5em) {
  .nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.nav__list *:not(:last-child) {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  display: inline;
}

@media only screen and (max-width: 37.5em) {
  .nav__item {
    display: block;
    text-align: center;
  }
}

.nav__link {
  font-size: 1.6rem;
}

.nav__link:hover {
  color: #080a10;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.icon__menu {
  font-size: 2rem;
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .icon__menu {
    display: block;
  }
}

.icon__user {
  font-size: 2rem;
}

.icon__envelope {
  font-size: 2rem;
}

.icon__facebook {
  font-size: 3rem;
  cursor: pointer;
}

.icon__facebook:hover {
  color: #f0f3f6;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.icon__twitter {
  font-size: 3rem;
  cursor: pointer;
}

.icon__twitter:hover {
  color: #f0f3f6;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.icon__instagram {
  font-size: 3rem;
  cursor: pointer;
}

.icon__instagram:hover {
  color: #f0f3f6;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn {
  display: inline-block;
}

.btn__dark {
  padding: .5rem 2rem;
  background-color: #080a10;
  color: #f0f3f6;
  font-size: 1.5rem;
  border: 1px solid #000;
}

.btn__dark:hover {
  background-color: #f0f3f6;
  color: #080a10;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 1px solid #000;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}

/* ======= Swiper =======*/
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 3rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.headphone {
  max-width: 100%;
  height: auto;
}

/*************************************** Header ends Here ********************************************/
/*************************************** Section Product Starts Here ********************************************/
.product {
  padding: 5rem 0;
  overflow: hidden;
}

.product__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .product__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 2vh 5vw;
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
}

.product__text--para {
  font-size: 1.3rem;
  margin: 2rem 0;
}

.product__text--price {
  font-size: 2rem;
  color: #080a10;
  margin-bottom: 2rem;
}

.product__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.heading-secondary__features {
  text-align: center;
  margin-bottom: 4rem;
}

/*************************************** Section Product Ends Here ********************************************/
/*************************************** Section Features starts Here ********************************************/
.features {
  padding: 5rem 0;
}

.features__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .features__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  padding: 5vh 2vw;
}

.features__content--box {
  text-align: end;
  margin-bottom: 3rem;
}

.features__content--box-2 {
  text-align: start;
  margin-bottom: 3rem;
}

.features__content--text {
  font-size: 1.5rem;
}

.features__content--link {
  font-size: 1.3rem;
  color: #080a10;
}

.features__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

@media only screen and (max-width: 37.5em) {
  .features__photo {
    -webkit-transform: translateX(8rem);
            transform: translateX(8rem);
  }
}

.heading-tertiary {
  font-size: 2rem;
  color: #080a10;
  font-weight: 500;
}

/*************************************** Section Features Ends Here ********************************************/
/*************************************** Section Design starts Here ********************************************/
.design {
  padding: 5rem 0;
}

.design__content {
  margin-top: 10rem;
  padding: 10rem 0;
}

.design__content--overlay {
  position: relative;
}

.design__content--img-box:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  background-color: rgba(191, 193, 201, 0.9);
}

.design__content--img-box-img {
  -webkit-transform: translateY(-11rem);
          transform: translateY(-11rem);
}

.design__content--text-box {
  -webkit-transform: translateY(-12rem);
          transform: translateY(-12rem);
  background-color: #f0f3f6;
  padding: 2vh 2vw;
  width: 80%;
  margin: 0 auto;
}

.design__content--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design__content--flex-text-price {
  font-size: 1.5rem;
  font-weight: 500;
}

.design__content--flex-text-color {
  color: #080a10;
  font-size: 2rem;
  font-weight: 600;
}

.design__content--flex-icon {
  font-size: 2.5rem;
}

.design .owl-theme .owl-nav {
  margin-top: -10rem;
  font-size: 5rem;
  color: #080a10;
}

.design .owl-theme .owl-dots .owl-dot span {
  width: 5rem;
  height: 1rem;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border-radius: 30px;
  background-color: #080a10;
}

/*************************************** Section Support starts Here ********************************************/
.support {
  padding: 5rem 0;
}

.support__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .support__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.support__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.support__textbox {
  padding: 2vh 5vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.support__textbox *:not(:last-child) {
  margin-bottom: 4rem;
}

.support__textbox--text {
  font-size: 1.4rem;
}

/*************************************** Section Support Ends Here ********************************************/
/*************************************** Section Form starts Here ********************************************/
.form {
  padding: 10rem 0;
}

.form__heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 4rem;
}

.forms {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.forms__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
}

.forms__input {
  padding: 1rem 2rem;
  border: none;
}

/*************************************** Section Form Ends Here ********************************************/
/*************************************** Footer Starts Here ********************************************/
.footer {
  padding: 8rem 0;
  background-color: #080a10;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__flex *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.footer__flex--item-social *:not(:last-child) {
  margin-right: 2rem;
}

.footer__logo {
  color: #f0f3f6;
}

.footer__nav--list *:not(:last-child) {
  margin-right: 2rem;
}

.footer__nav--item {
  display: inline;
}

@media only screen and (max-width: 37.5em) {
  .footer__nav--item {
    display: block;
  }
}

.footer__nav--link {
  font-size: 1.6rem;
}

.footer__nav--link:hover {
  color: #f0f3f6;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/*************************************** Footer End Here ********************************************/
/*
.header{
    &__navigation{
        display: flex;
        justify-content: space-between;
    }
}
.logo{

}
.menu__icon{
    display: none;
    @media only screen and (max-width: 80rem){
        display: block;
    }
}
.nav{
    &__list{
        @media only screen and (max-width: 80rem){
            display: none;
        }
    }
    &__item{
        display: inline;
        @media only screen and (max-width: 80rem){
            display: block;
        }
    }
    &__link{

    }
}
*/
/*# sourceMappingURL=main.css.map */